{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80
}
